@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Space+Grotesk&family=Ubuntu:ital@1&display=swap');

@layer components {
    .glassmorphism {
        background: rgba(240, 128, 174, 0.05);
        border-radius: 16px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(240, 128, 174, 0.3);
    }

}

body {
    background-color: #232125;
}
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}